@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

header {

    display: block;
    margin: 0%;
    font-size: 30px;
    text-align: center;
    font-family: 'Baloo 2', sans-serif;
    background-color: white;
    position: static;
    /*top: 0px;
    left: 30%;*/
}


body {
    background-image: url(anime_images/collage.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100%;
    background-clip: border-box;
}
