body{
    background-color: #ADB6E3;
    margin-top: 15vh;
    margin-bottom: 40vh;

}

.entry {
    background-color: #f6f7fB;
    height: 20rem;
    width: 20rem;
    border: solid;
    border-color: #dbe0f9;
    border-width: 0.5rem;
    border-radius: 3rem; 
    margin: auto;
}

.grid {
    display: grid;
    margin: auto;
    width: 80vw;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 81rem){
    .grid{
        grid-template-columns: 1fr;
    }
}

.title{
    height: 5rem;
    width: 20rem;
    float: left;
    border: solid;
    border-color: #dbe0f9;
    border-width: 0.5rem;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    position: relative;
    right: 0.5rem;
    bottom: 0.5rem;
    z-index: 2;
}

img{
    height: 15rem;
    width: 10rem;
    float: left;
    border-bottom-left-radius: 2.5rem;
    position: relative;
    bottom: 1rem;
    z-index: 1;
}

p{
    height: 15rem;
    width: 10rem;
    float: left;
}







/*.container:nth-child(3n+1){
    float: left;
}
.container:nth-child(3n+2){
    float: center;
}
.container:nth-child(3n+0){
    float: right;
}

.container{
    width: 80vw;
    margin:auto;
}*/